extends layout
block append head
  script
    window.onload = function() {
      setTimeout("window.location.replace('/')", 2000);
    };
block append content
  p User #{logged_in_user} created and logged in
  p Redirecting to index in 2 seconds
