extends layout
block append head
  script
    window.onload = function() {
      setTimeout("window.location.replace('/')", 1000);
    };
block prepend content
  p User #{logged_in_user} created and logged in
  p Redirecting to index in 1 second
