extends layout
block append head
  script
    window.onload = function() {
      setTimeout("window.location.replace('/')", 2000);
    };
block prepend content
  p Login failed...
  p Redirecting to index in 2 seconds
