doctype html
html
head
  block head
    link(rel='stylesheet', href='/stylesheets/style.css')
body
  #container
    ul
      li
        a(href='/') index
      li
        a(href='/auth/logout') logout
    hr
    block content
