extends layout
block append head
  style
    .green {color:#33FF22}
block prepend content
  p 
  | Welcome! Your account, <span class='green'>#{user.handle}</span>, has been created.
  | Here's the contents of your user object:
  br
  tt=JSON.stringify(user, null, 2)
