extends layout
block append head
  style
    .red {color:#FF3322}
block prepend content
  if(dupe)
    p 
    | We tried to make a Google account for you with username 
    | <span class='red'>#{user.google.handle}</span> but that's 
    | <strong>already in use</strong>. 
    p
    | If that's your account, <em>and</em> 
    | you wanna use this Google account to log into it... you need to log out 
    | of this one, log into that one, go to your account page, and link this 
    | Google account. What a pain, we know, we're sorry, it's on our todo
    | list...
    p
    | If <span class='red'>#{user.google.handle}</span> isn't you, or 
    | it's you but you want this to be a separate account, please enter a 
    | different username below.

  if(!dupe)    
    p 
    | Welcome! We're halfway done making your account but it's 
    | <span class='red'>not saved</span> yet.
    p
    | We need a handle that our other users will see. Here's our suggestion 
    | taken from your Google email, feel free to change it:

  form(action='/auth/google/paperwork/verify', method='post')
    input(name='confirmedHandle', type="textarea", value=suggestion)
    input(type='submit', name='Use this handle')
