extends layout
block append head
  style
    .red {color:#FF3322}
block prepend content
  if(dupe)
    p 
    | The username 
    | <span class='red'>#{tmpuser.google.handle}</span> is
    | <strong>already in use</strong>. 
    p
    | If you want to link this google account to that existing account,
    | <a href='/login'>login</a> to that one and do it from your account page.
    p
    | If <span class='red'>#{user.google.handle}</span> isn't you, or 
    | it's you but you want this to be a separate account, please try a 
    | different username below.

  if(!dupe)    
    p 
    | Welcome! We're halfway done making your account but it's 
    | <span class='red'>not saved</span> yet.
    p
    | We need a handle that our other users will see. Here's our suggestion 
    | taken from your Google profile, feel free to change it:

  form(action='/auth/google/paperwork/verify', method='post')
    input(name='confirmedHandle', type="textarea", value=suggestion)
    input(type='submit', value='Use this handle')
