extends layout
block append head
  script
    window.onload = function() {
      setTimeout("window.location.replace('/')", 2000);
    };
block prepend content
  p Successfully logged in as user #{logged_in_user.handle}
  p Redirecting to index in 2 seconds
